# This is a basic workflow to help you get started with Actions

name: send_gift

# Controls when the action will run. 
on:
  push:
   branches:    
      - master
  #schedule:
    #- cron: "25 12 * * *"  # scheduled at 06:00 (UTC+8) everyday
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: 'Install requirements'
        run: |
           pip install selenium
           pip install lxml
      - name: 'Working'
        env:
          cookies: ${{ secrets.COOKIES }}
        run: |
           sudo cp -p ./chrome/chromedriver /usr/bin/
           chmod -R 777 /usr/bin/chromedriver
           python douyu_main.py
